@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	outline: 0;
}



/*body*/
body {
	width: 100%;
	height: 100%;
	background-color: #333;
}



/*div*/
div h1 {
	font-size: 1em;
	color: #fff;
    text-align: center;
    margin-top: 90px;
}

div h1 i {
	font-size: 3em;
	margin-bottom: 15px;
	margin-right: 15px;
}
div h1 span {
	font: normal 1 "arial";
}
div h1 span a {
	font-size: 2em;
	color: #fff;
}



/*form*/
form {
    width: 600px;
    height: 500px;
    border: 1px solid #555;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    margin-left: -300px;
    padding: 50px;
}
form span {
	color: #bbb;
}
form table tr:nth-of-type(1) td input {
	margin-top: 15px;
	margin-bottom: 0;
}
form table tr:nth-of-type(1) td button {
	width: 170px;
	height: 35px;
	position: absolute;
    margin-top: 15px;
    margin-left: 25px;
    font: normal 1em "arial";
    cursor: pointer;
}
form table tr td input {
	width: 300px;
    height: 35px;
    padding-left: 10px;
    position: relative;
    font: normal 1 "arial";
}
form table tr:nth-of-type(4) td input, form table tr:nth-of-type(6) td input {
	margin-top: 15px;
}
form table tr:nth-of-type(8) td button {
	width: 500px;
	height: 50px;
	margin-top: 15px;
}